@page "/AdoptionPolicy"

<style>
    .body-div{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        border: none;
        border-radius: 25px;
        padding: 25px;
    }

    .title-div{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        font-weight: bold;
    }
</style>

<div class="body-div">
    <div class="title-div">
        <h2>Our Policy</h2>
    </div>

    <div class="body-paragraph">
        <p class="text">
            At Adoption.io, we believe that every dog deserves a loving home. We are committed to ensuring our dogs go to responsible and capable owners.
            To make sure our dogs are cared for, we have the following requirements for aspiring adopters.
        </p>

        <ul>
            <li class="list-item">
                Adoption Application
            </li>
            <li class="list-item">
                Age Requirement (18+)
            </li>
            <li class="list-item">
                Criminal Record (no violent or anti-animal crimes)
            </li>
            <li class="list-item">
                Fee ($25)
            </li>
        </ul>
    </div>

</div>
@code {

}
