
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                <p>Adoption.io is a non-profit website that partners with local shelters to foster animals up for adoption</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <p>
                    1420 Bolley Dr, Fargo, ND 58105
                    <br />+ (701) 231-8562

                    <br />+ (202) 456-1111
                </p>
            </div>
        </div>
        <div>
            <div class="footer-copyright text-center">© 2024 Copyright: Adoption.io</div>
        </div>
    </div>
</footer>


<style>
    .page-footer {
        background-color: #222;
        color: #ccc;
        padding: 60px 0 30px;
    }

    .footer-copyright {
        color: #666;
        padding: 40px 0;
    }
</style>
@code {
    // Add any C# code here if necessary
}
