.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: right;
    padding: 10px;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    margin-right: 500px;
}
.navbar-nav .navbar-brand:hover {
    text-decoration: none;
    color: white;
}

.nav-link {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    color: black !important;
}
.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #009879;
}
.nav-link:active {
    text-decoration-color: black;
}