.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: right;
    padding: 10px;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    margin-right: 500px;
}
.navbar-nav .navbar-brand:hover {
    text-decoration: none;
    color: white;
}

.nav-link {
    transition: 150ms;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: 50px;
    color: black !important;
}
.nav-link:hover {
    background-color: #009879;
    border: none;
    border-radius: 15px;
    transform: scale(1.2);
    }
.nav-link:active {
    background-color: aquamarine;
    transform: scale(1.0);
}