@inherits LayoutComponentBase

<div class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="navbar-brand" href="/">
                <img src="/image/adoptionioLogo.png" alt="Adoption Logo" style="height:60px;"/>
            </a>

            <a class="nav-link" href="" Match="NavLinkMatch.All" >Home</a>

            <a class="nav-link" href="dogs" >View Dogs</a>

            <a class="nav-link" href="payments/create" >Add Card</a>
          
            <a class="nav-link" href="login" >Login</a>

        </div>
    </div>
</div>
