.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: left;
    background-color: #4c4c4c;
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    margin-right: 50px;
}
.navbar-nav .navbar-brand:hover{
    text-decoration: none;
    color: white;
}

.nav-link{
    transition: 150ms;
    margin-left: 10px;
    margin-right: 10px;
    color: white !important;
}
.nav-link:hover {
    background-color: #009879;
    border: none;
    border-radius: 15px;
    transform: scale(1.1);
    }
.nav-link:active{
    background-color: aquamarine;
    transform: scale(1.0);
}