@page "/adoptionapplications/create"
@using Microsoft.EntityFrameworkCore
@using DogAdoption.Models
@inject IDbContextFactory<DogAdoption.Data.DogAdoptionContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>AdoptionApplication</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="AdoptionApplication" OnValidSubmit="AddAdoptionApplication" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="userid" class="form-label">UserID:</label> 
                <InputNumber id="userid" @bind-Value="AdoptionApplication.UserID" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => AdoptionApplication.UserID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dogid" class="form-label">DogID:</label> 
                <InputNumber id="dogid" @bind-Value="AdoptionApplication.DogID" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => AdoptionApplication.DogID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="phonenumber" class="form-label">PhoneNumber:</label> 
                <InputText id="phonenumber" @bind-Value="AdoptionApplication.PhoneNumber" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.PhoneNumber" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="extrainformation" class="form-label">ExtraInformation:</label> 
                <InputText id="extrainformation" @bind-Value="AdoptionApplication.ExtraInformation" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.ExtraInformation" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="hasotherpets" class="form-label">HasOtherPets:</label> 
                <InputCheckbox id="hasotherpets" @bind-Value="AdoptionApplication.HasOtherPets" class="form-check-input" /> 
                <ValidationMessage For="() => AdoptionApplication.HasOtherPets" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="haschildrenundertwelve" class="form-label">HasChildrenUnderTwelve:</label> 
                <InputCheckbox id="haschildrenundertwelve" @bind-Value="AdoptionApplication.HasChildrenUnderTwelve" class="form-check-input" /> 
                <ValidationMessage For="() => AdoptionApplication.HasChildrenUnderTwelve" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/adoptionapplications">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private AdoptionApplication AdoptionApplication { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAdoptionApplication()
    {
        using var context = DbFactory.CreateDbContext();
        context.AdoptionApplication.Add(AdoptionApplication);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/adoptionapplications");
    }
}
