@page "/adoptionapplications/create"
@using Microsoft.EntityFrameworkCore
@using DogAdoption.Models
@inject IDbContextFactory<DogAdoption.Data.DogAdoptionContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Adoption Application Blank</PageTitle>


<h2 id="header">Adoption Application</h2>
<hr />

<div class="form-container">

<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="AdoptionApplication" OnValidSubmit="AddAdoptionApplication" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="userid" class="form-label">UserID:</label> 
                <InputNumber id="userid" @bind-Value="AdoptionApplication.UserID" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => AdoptionApplication.UserID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dogid" class="form-label">DogID:</label> 
                <InputNumber id="dogid" @bind-Value="AdoptionApplication.DogID" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => AdoptionApplication.DogID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="phonenumber" class="form-label">PhoneNumber:</label> 
                <InputText id="phonenumber" @bind-Value="AdoptionApplication.PhoneNumber" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.PhoneNumber" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="extrainformation" class="form-label">ExtraInformation:</label> 
                <InputText id="extrainformation" @bind-Value="AdoptionApplication.ExtraInformation" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.ExtraInformation" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="hasotherpets" class="form-label">HasOtherPets:</label> 
                <InputCheckbox id="hasotherpets" @bind-Value="AdoptionApplication.HasOtherPets" class="form-check-input" /> 
                <ValidationMessage For="() => AdoptionApplication.HasOtherPets" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="haschildrenundertwelve" class="form-label">HasChildrenUnderTwelve:</label> 
                <InputCheckbox id="haschildrenundertwelve" @bind-Value="AdoptionApplication.HasChildrenUnderTwelve" class="form-check-input" /> 
                <ValidationMessage For="() => AdoptionApplication.HasChildrenUnderTwelve" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

    <br />

    <div>
        <a href="/dogs" class="btn btn-primary">Back to List</a>
    </div>
</div>


<style>
    .form-container {
        padding-left: 50px; /* Add padding to the left */
    }

    #header {
        text-align: center;
    }
</style>


@code {

    [SupplyParameterFromQuery]
    public int? DogID { get; set; }


    [SupplyParameterFromForm]
    private AdoptionApplication AdoptionApplication { get; set; } = new();

    protected override void OnInitialized()
    {
        // If DogID is present in the query string, populate the AdoptionApplication.DogID property.
        if (DogID.HasValue)
        {
            AdoptionApplication.DogID = DogID.Value;
        }
    }


    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAdoptionApplication()
    {
        using var context = DbFactory.CreateDbContext();
        context.AdoptionApplication.Add(AdoptionApplication);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("");
    }
}
