@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to adoption.io!</h1>

<style>
    .create-btn{
        background-color: #009879;
        border: none;
        border-radius: 30px;
        padding: 20px;
        color: white;
        font-weight: bold;
        transition: 200ms;
    }
    .create-btn:hover{
        transform: scale(1.4);
    }
    .create-btn:active{
        transform: scale(1.25);
        background-color: turquoise;
    }

</style>

<a href="/messages/create">
    <button class="create-btn">Send us a message</button>
</a>